<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @team.text %>
</p>

<h2>Comments</h2>
<%= render @team.comments %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>

<%= link_to 'Edit', edit_team_path(@team) %>