<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @team.text %>
</p>

<h2>Players</h2>
<%= render @team.players %>

<h2>Add a player:</h2>
<%= render "players/form" %>

<%= link_to 'Back', teams_path %>
| <%= link_to 'Edit', edit_team_path(@team) %>